doctype html
html
	head
		title Index Page
		style.
			* { color: blue; }
		script(src="https://code.jquery.com/jquery-1.12.4.js")
		script.
			$(function(){
				alert('jein');	
			});
	body
		// 이렇게 쓰면 주석 
		#header
			h1 Hello jade...!
			h2 Lorem Ipsum...
		hr
		.article
			a(href="http://naver.com", data-test="almlmlml") Go to Naver
